.background-container {
   background: url("./assets/images/abbb.avif");
   
  /* background:url("a1.avif"); */
   background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
  z-index: -1;
 
 
}

.background-container:hover{
  background:url("./assets/images/a1.avif")
}


.container:hover{
  background: url("./assets/images/a1.avif");
}


.container {
  border: 5px solid #000000;
  
  background-color: #a892ee;
  /* border: 1px , #ffff; */
  padding: 6px;
  width: 40%;
  margin:10%;
  margin-left: 20%;
  border-radius: 10%;
  margin-top: 100px;
  
}